/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : Lilidog               
 *******************************************************************************/

* {
    bg0:    #2D2D2DF2;
    bg1:    #2D2D2D;
    bg2:    #2D2D2D78;
    bg3:    #27598A;
    fg0:    #DFE3E6;
    fg1:    #FFFFFF;
    fg2:    #AFB2B3;
    fg3:    #939596;
}

@import "common/rounded-common.rasi"
